// All Css Here
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "../public/assets/css/plugins.css";
@import "../public/assets/scss/style";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import 'node_modules/react-modal-video/scss/modal-video.scss';

.portfolio .thumbnail.image-5 {
	background-image: url(/assets/images/portfolio/portfolio-5.jpg);
}

.portfolio .thumbnail.image-6 {
	background-image: url(/assets/images/portfolio/portfolio-6.jpg);
}

.portfolio .thumbnail.image-7 {
	background-image: url(/assets/images/portfolio/portfolio-7.jpg);
}

.portfolio .thumbnail.image-8 {
	background-image: url(/assets/images/portfolio/portfolio-8.jpg);
}

.portfolio .bg-blr-image.image-3 {
	background-image: url(/assets/images/portfolio/portfolio-3.jpg);
}

.portfolio .bg-blr-image.image-4 {
	background-image: url(/assets/images/portfolio/portfolio-4.jpg);
}

.portfolio .bg-blr-image.image-5 {
	background-image: url(/assets/images/portfolio/portfolio-5.jpg);
}

.portfolio .bg-blr-image.image-6 {
	background-image: url(/assets/images/portfolio/portfolio-6.jpg);
}

.portfolio .bg-blr-image.image-7 {
	background-image: url(/assets/images/portfolio/portfolio-7.jpg);
}

.portfolio .bg-blr-image.image-8 {
	background-image: url(/assets/images/portfolio/portfolio-8.jpg);
}